.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding: 10px;
  border-radius: 50px;
  width: 60%;
  text-align: center;
  margin: 5px;
  font-size: medium;
}
